header {
    background-color: rgb(82, 179, 82);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

main {
    background-color: rgb(88, 88, 231);
    display: grid;
    grid-template-columns: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

footer {
    background-color: rgb(142, 82, 197);
    display: grid;
    grid-template-columns: 250px auto 250px;
    margin-left: 10px;
    margin-right: 10px;

}

.column {
    border-style: solid;
    border-color: rgb(115, 131, 224);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
}
